.photo__grid {
  display: grid;
  margin: 100px auto;
  max-width: 1184px;
  max-height: 442px;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  column-gap: 16px;
  row-gap: 16px;
}

.photo__grid-image {
  width: 100%;
}

@media (max-width: 1024px) {
  .photo__grid {
    max-width: 720px;
    max-height: 1108px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 544px) {
  .photo__grid {
    max-width: 288px;
    max-height: 1812px;
    grid-template-columns: 1fr;
  }
}
