.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header__image {
  width: 254px;
  margin-top: 34px;
}

@media (max-width: 1024px) {
  .header__image {
    max-width: 254px;
  }
}

@media (max-width: 544px) {
  .header__image {
    max-width: 188px;
  }
}
